.col1{
	background-color: rgb(248, 244, 244);
	color: black;
}
.col2{
	background-color: blue;
	color: white;
}
.nested-col-1{
	background-color: grey;
	color: white;

}
.nested-col-2{
	background-color: orange;
	color: white;

}

